<div class="col s6 m6">
  <div class="card hoverable">
    <div class="card-image">
      {{!-- use image of whiteboard here instead of a set image --}}
      <img src="/images/whiteboard-example.png">
      <a href="/board/{{id}}" class="btn-floating halfway-fab waves-effect waves-light"
        style="background: var(--color-vermillion)"><i class="material-icons">pageview</i></a>
    </div>
    <div class="card-content">
      <span class="card-title">
        <a class="board-title">{{title}}</a>
      </span>
      <p class="sans-serif">by {{user.username}} on {{format_date created_at}}</p>
    </div>
  </div>
</div>
