<div id="signup-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Register to Collaborate</h4>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="eg. th3Coll4broat0r" id="username" type="text" class="validate">
            <label for="username">Desired Username*</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Password*</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="confirm_password" type="password" class="validate">
            <label for="confirm_password">The same Password as above*</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
      </form>
      <div class="modal-info">
        <p>Items marked with an * are required fields.</p>
        <a href="#!">User Agreement</a>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!">Already signed up?</a>
      <button class="btn modal-trigger">register</button>
    </div>
</div>
