<!DOCTYPE html>
<html lang="en">

<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Yusei+Magic" rel="stylesheet"/>
	<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
	<script type="text/javascript" src="js/fabric.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<title>Collab Whiteboard</title>
</head>

<body>
	{{{ body }}}
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/drawing.js"></script>
	<script type="text/javascript" src="js/board_controller.js"></script>

	<button id= draw>drawing</button>
	
</body>

</html>