<article>
  <a href="/profile"> &larr; Back to profile</a>
  <h2>
    Edit Board
  </h2>
  <form class="edit-board-form">
    <div>
      <label for="board-title">Edit Board Title</label>
      <input name="board-title" type="text" value="{{board.title}}" />
    </div>
    <div>
      <label for="board-description">Edit Description</label>
      <textarea name="board-description" type="text">{{board.board_description}}</textarea>
    </div>
    <button type="submit">Save Board</button>
    <button type="button" class="delete-board-btn">Delete board</button>
  </form>
</article>

{{#if loggedIn}}
<script src="/javascript/edit-board.js"></script>
<script src="/javascript/delete-board.js"></script>
{{/if}}
