<div class="container">
  <div class="row">
    {{#if loggedIn}}
      {{> profile}}
    {{else}}
      {{#each boards as |board|}}
      {{> board-info-homepage board}}
      {{/each}}
    {{/if}}
  </div>
</div>
