{{!-- <nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Collaborate</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <input placeholder="Search Boards" data-target="search" type="search" class="input-field">
      </li>
      <li><button data-target="signup-modal" class="btn modal-trigger">signup</button></li>
      <li><button data-target="login-modal" class="btn modal-trigger">login</button></li>

    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li>
    <form>
      <input placeholder="Search a Subject" id="search" type="text" class="validate">
    </form>
  </li>
  <li>Login</li>
</ul>

{{> board-editor}}
{{> login-modal}}
{{> signup-modal}} --}}
