<section>
  <h2>Your Profile</h2>

  <h3>Create a new board</h3>
  <form class="new-board-form">
    <div>
      <label for="board-title">Board Title</label>
      <input type="text" id="board-title" name="board-title" />
    </div>

    <div>
      <label for="board-description">Description</label>
      <textarea name="board-description"></textarea>
    </div>

    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if boards.length}}
<section>
  <h3>Your Boards</h3>
  <ol>
    {{#each boards as |board|}}
    <li>
      {{> board-info board}}
      <a href="/profile/edit/{{board.id}}" class="edit-link">Edit board</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/js/add-board.js"></script>
